@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.about-profile{
    display: flex;
    gap: 22rem;
    margin-top: 5rem;
}

.about{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.about h1{
    font-size: 5rem;
    line-height: 80px;
    color: #282828;
    font-weight: 400;
}
.about p{
    font-size: 16px;
    width: 25vw;
    margin-top: 20px;
    margin-left: 5px;
    color: #282828;
}


.social-media{
    margin-left: 5px;
}
.link-li{
    display: flex;
    align-items: center;
    border-radius: 40px;
    width: 20vw;
    padding: 10px 10px 10px 30px;
    background-color: #8EA7E9;
}
.link-li a{
    font-size: 18px;
    transition: 0.6s ease-in-out;
    color: #282828;
}
.link-li a:hover{
    color: #E5E0FF;
    transition: 0.3s ease-in-out;
}
.link-li img{
    width: 2vw;
    margin-right: 20px;
}
.link-media{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    margin-left: 20px;
}

.link-media i{
    font-size: 4rem;
    color: #282828;
    transition: 0.4s ease-in-out;
}
.link-media i:hover{
    color: #8EA7E9;
    transition: 0.4s ease-in-out;
}

.profile img{
    background-color: #8EA7E9;
    width: 28vw;
    padding-top: 6rem;
    border-top-left-radius: 252px;
    border-top-right-radius: 252px;
}

@media (max-width:1680px){
    .about-profile{
        gap: 28rem;
    }
}

@media (max-width:1600px){
    .about h1{
        font-size: 4.5rem;
    }
    .about{
        margin-top: 8rem;
        gap: 2rem;
    }
    .link-media i{
        font-size: 3.5rem;
    }
}
@media (max-width:1440px){
    .about p{
        font-size: 16px;
    }
    .about-profile{
        display: flex;
        margin-top: 3rem;
    }
    .about{
        margin-left: 3.5rem;
    }
    .profile img{
        margin-left: -3rem;
    }
    .link-li{
        padding: 15px 35px 15px 30px;
    }
    .link-media i{
        font-size: 3.5rem;
        color: #282828;
        transition: 0.4s ease-in-out;
    }
}

@media (max-width:1366px){
    .about p{
        font-size: 16px;
    }
    .about-profile{
        display: flex;
        margin-top: 1rem;
    }
    .about{
        margin-left: 3rem;
    }
    .profile img{
        margin-left: -5rem;
    }
    .link-media i{
        font-size: 3rem;
    }
}

@media (max-width:1280px){
    .about-profile{
        gap: 23rem;
    }
    .profile img{
        width: 35vw;

    }
    .about h1{
        font-size: 4rem;
        line-height: 4rem;
    }
    .link-li{
        width: 25vw;
        padding: 10px 10px 10px 20px;
    }
    .link-li a{
        font-size: 18px;
    }
    .link-li img{
        width: 2.5vw;
    }

    .link-media i{
        font-size: 4rem;
    }
}

@media (max-width:1152px){
    .about-profile{
        gap: 20rem;
    }
}
@media (max-width:1024px){
    .about{
        display: flex;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 18rem;
        text-align: center;
        gap: 2rem;
    }
    .about p{
        width: 40vw;
    }
    .link-li{
        width: 30vw;
    }
    .profile img{
        display: none;
    }
    .social-media{
        margin-left: 2.5rem;
    }
    .link-media{
        margin-left: 3rem;
    }
}
@media (max-width:920px){
    .about{
        display: flex;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: 16rem;
        gap: 2rem;
    }
    .link-li{
        width: 33vw;
    }
    .social-media{
        margin-left: 1rem;
    }
    .link-media{
        margin-left: 3rem;
    }
}

@media (max-width:820px){
    .about{
        margin-left: 11rem;
    }
    .about p{
        width: 50vw;
    }
    .link-li{
        width: 38vw;
    }
    .social-media{
        margin-left: 2.5rem;
    }
    .link-media{
        margin-left: 4rem;
    }
    .link-media i{
        font-size: 3rem;
    }
}
@media (max-width:601px){
    .about{
        margin-left: 7rem;
    }
    .about h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .link-li{
        width: 47vw;
    }
    .social-media{
        margin-left: 0.5rem;
    }
    .link-media{
        margin-left: 3.5rem;
    }
}
@media (max-width:520px){
    .about{
        margin-left: 5rem;
    }
    .about h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    .about p{
        font-size: 16px;
        width: 100%;
    }
    .link-li{
        width: 50vw;
    }
    .link-li a{
        font-size: 16px;
    }
    .link-li img{
        width: 15vw;
    }
    .social-media{
        margin-left: 1rem;
    }
    .link-media{
        margin-left: 2rem;
    }
}
@media (max-width:430px){
    .about{
        margin-top: 4rem;
        margin-left: 0rem;
        text-align: start;
    }
    .about-profile{
        margin-bottom: 6rem;
    }
    .about h1{
        font-size: 3.6rem;
        width: 120%;
    }
    .about p{
        font-size: 16px;
        width: 130%;
    }
    .link-li{
        width: 100%;
    }
    .link-li img{
        width: 30px;
    }
    .social-media{
        margin-left: 0rem;
    }
    .link-media{
        margin-left: 1rem;
    }
    .link-media i{
        font-size: 3.5rem;
    }
}
@media (max-width:415px){
    .about p{
        font-size: 16px;
        width: 125%;
    }
}
@media (max-width:400px){
    .about p{
        font-size: 16px;
        width: 105%;
    }
}

